.orders-layout{
    display: grid;
    grid-template-areas: 
    "menu cart";
    grid-template-columns: 1fr 375px;
    position: relative;
    padding-top: 22px;
}

.orders-menu{
    width: 100%;
    max-width: 940px;
    padding: 12px 12px;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
.cart-sidebar{
    padding: 12px;
    grid-area: cart;
    box-shadow: -2px 0px 4px 0 rgba(0 0 0 / 12%);
    width:375px;
    height:calc(100vh);
}
.contact{
    grid-area: c;
    border:  yellow solid 1px;
}
