.cart-item{
    display: grid;
    grid-template-areas: 
    "name quantity price remove";
    grid-template-columns: 2fr .5fr .5fr 1fr;
    grid-column-gap: 12px;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 24%);
}

.cart-item-header{
    grid-area: name;
    font-size: large;
    text-transform: capitalize;
    font-weight: bolder;
}

.cart-item-price{
    grid-area: price;
    font-size: large;
    font-weight: bold;
}

.cart-item-size{
    grid-area: size;
    font-size: small;
}

.cart-item-quantity{
    grid-area: quantity;
    font-size: large;
}
.cart-item-remove{
    grid-area: remove;
}