.order-deatils-input-label{
    display: flex;
    justify-content: space-between;
}

.order-form-section{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.order-submit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}