.employee-navigation{
    display: flex;
    flex-direction: column;
    column-gap: 12px;
    padding: 16px 14px;
    box-shadow: 0px 2px 4px 0 rgba(0 0 0 / 12%);
}

.employee-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.employee-info h2 {
    text-transform: capitalize;
}


button.heys {
    border-color: black;
    background-color: lightgray;
    color: inherit;
    border-radius: 10px;
    font-size: medium;
    margin-left: 50px;
    margin-right: 50px;
    padding: 8px 16px;
  }
  
  button.heys:hover {
    background-color: gray;
  }